<section data-ng-controller="UsersController" data-ng-init="findOne()">
    <div class="row">
        <div class="col-md-8">
            <header class="page-header clearfix">
                <div class="pull-left" style="margin-right:20px;"><img class="img-thumbnail" src="https://graph.facebook.com/{{user.facebookId}}/picture?type=large"/>
                </div>
                <div>
                    <h2 style="margin-top:0;" >{{user.name}}</h2>
                </div>
                <div style="padding-top:20px;">
                    <!-- AddThis Button BEGIN -->
                    <a class="addthis_button"
                       href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-52b5904b054d1872"><img
                            src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16"
                            alt="Bookmark and Share" style="border:0"/></a>
                    <script type="text/javascript"
                            src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b5904b054d1872"></script>
                    <!-- AddThis Button END -->
                </div>
            </header>

            <div class="center-block" style="width:250px">
                <input type="text" placeholder="Search" ng-model="search.skillName" oninput="console.log('aaa')"/>
                <ul class="list-unstyled">
                    <li ng-repeat="score in scores | filter:search | orderBy:'-votes' | limitTo:5"  style="padding:10px" ng-mouseover="showStars=true" ng-mouseout="showStars=false">
                        <span ui-toggle="showStars" skill-rating rating-value="score.myVote"
                              on-rating-selected="submitVote(newRating)"></span>
                        <!--span>
                            <form ng-submit="submitVote()">
                                <input type="text" style="width:40px" ng-model="score.myVote">
                            </form>
                            </span-->
                        <span>{{score.skillName}}</span>
                        <span class="pull-right score" tooltip-placement="right" tooltip="{{score.votes}} votes">{{score.score}}</span>
                    </li>
                    <li style="padding:10px" ng-mouseover="showStars=true" ng-mouseout="showStars=false">
                        <span  ui-toggle="showStars"  skill-rating rating-value="zero" on-rating-selected="submitVoteNew(newRating)"></span>
                        <span>{{search.skillName}}</span>
                        <span class="pull-right score" tooltip-placement="right" tooltip="0 votes">0</span>
                    </li>
                </ul>
                <!--<form ng-submit="submitSkill()">-->
                    <!--<input type="text" ng-model="newSkillName">-->
                <!--</form>-->
                {{test}}
            </div>

            <div style="margin-top:50px">
                <div style="font-size:small">
                    This page:
                </div>
                <div class="well well-sm pull-left center-block">
                    http://myskills.co/users/{{user.username}}
                </div>
                <div class="pull-left">
                    <button class="addthis_button btn-link" style="margin:5px">
                        Share
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <h3 data-ng-hide="!scores || scores.length">No scores</h3>
</section>
