<div class="flip pull-left text-center col-sm-4 col-xs-6">
    <div class="card" ng-class="{flipped: flipped == true}" ng-mouseover="flipped=true" ng-mouseout="flipped=false">
        <div class="face front">
            <h3 style="font-size:22px">{{skillName}}</h3>

            <div class="score center-block">{{score.score}}</div>
            <div data-ng-hide="!score.votes" style="font-size:small; margin-top:10px">{{score.votes}} votes</div>
            <!--<div ui-toggle="onCard" style="bottom:0px; position:absolute; right:0px">Flip</div>-->
        </div>
        <div class="face back">
            <h3 style="font-size:22px; margin-bottom:30px;">{{skillName}}</h3>
            <span style="font-size:small;">My vote:</span>

            <div style="margin-top:10px" skill-rating score="score.myVote" skill="score.skillId || skillName" user="user"></div>
        </div>
        <!--<div ui-toggle="onCard" style="bottom:0px; position:absolute; right:0px">Flip</div>-->
    </div>
</div>