    <div class="row">
        <div class="col-md-12">
            <div ui-view="user"></div>
            <div class="col-md-4 col-xs-12">
                <section data-ng-controller="usersController" data-ng-init="getFriends()">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">My friends</h3>
                        </div>
                        <div class="panel-body">
                            <div class="media" ng-repeat="friend in friends.data | limitTo:5" ng-show="global.authenticated">
                                <a href="/{{friend.username || friend.uid}}">
                                    <img class="pull-left img-circle"
                                         ng-src="https://graph.facebook.com/{{friend.uid}}/picture" height="50" width="50"
                                         style="margin-right:10px">
                                    <h4>{{friend.name}}</h4>
                                </a>
                            </div>
                            <div style="height:348px; padding-top:150px" ng-hide="global.authenticated" class="text-center">
                                <a href="/auth/facebook" target="_self">Sign in to see your friends</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>