extends ../layouts/default

block content
    .row
        .col-md-12
            header.page-header.clearfix
                .pull-left(style='margin-right:20px;')
                    img.img-thumbnail(src='https://graph.facebook.com/#{profile.facebookId}/picture?type=large')
                div
                    h2(style='margin-top:0;') !{profile.name}
                    div(style='padding-top:20px;')
                        // AddThis Button BEGIN
                        a.addthis_button(href='http://www.addthis.com/bookmark.php?v=300&pubid=ra-52b5904b054d1872')
                            img(src='http://s7.addthis.com/static/btn/v2/lg-share-en.gif', width='125', height='16', alt='Bookmark and Share', style='border:0')
                        script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b5904b054d1872')
                        #_atssh(style='visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;')
                            iframe#_atssh473(title='AddThis utility frame', style='height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;')
                        script(type='text/javascript', src='http://ct1.addthis.com/static/r07/core117.js')
                        // AddThis Button END
            .center-block(style='width:400px')
                ul.list-unstyled
                    each skill in skills
                        li
                            .row(style='padding: 5px;')
                                .pull-left(style='margin-right:5px;')
                                .pull-left(style='width:150px; text-align:left')
                                    = skill.skill.name
                                .pull-left
                                    = skill.receiver.userName
                div(style='padding-left:95px; padding-top:5px')
                    form(action='/skills',method='post')
                        input(type='text',value='',placeholder='new skill',name='skill')
                div(style='margin-top:50px')
                    div(style='font-size:small')
                        | This page:
                    .well.well-sm.pull-left.center-block
                        | http://myskills.co/users/!{profile.userName}
                    divp.pull-left
                        button.addthis_button.btn-link(style='margin:5px')
                            | Share
