<section data-ng-controller="ScoresController" data-ng-init="byUsername()">
    <div class="row">
    <div class="col-md-8">
        <header class="page-header clearfix">
            <div class="pull-left" style="margin-right:20px;"><img class="img-thumbnail" src="https://graph.facebook.com/{{facebookID}}/picture?type=large" /></div>
            <div>
                <h2 style="margin-top:0;">{{user}} {{lastname}}</h2>
            </div>
            <div style="padding-top:20px;">
                <!-- AddThis Button BEGIN -->
                <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-52b5904b054d1872"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0" /></a>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b5904b054d1872"></script>
                <!-- AddThis Button END -->
            </div>
        </header>

        <div class="center-block" style="width:400px">
            <ul class="list-unstyled" style="margin-bottom: 0">
                <li ng-repeat="score in scores">
                    <div class="row" style="padding: 5px;">
                        <div class="pull-left">
                            <div style="width:250px;">
                                <form ng-submit="addvote()">
                                    <select>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <input type="submit" />
                                </form>

                                <!--<span>
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                </span>-->
                                <span>{{score._skill.name}}</span>
                                <span class="pull-right using-tooltip score" data-placement="right">{{score.score}} ({{score.votes}} votes)</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
                <form ng-submit="addskill()">
                    <input type="text" placeholder="add skills"/>
                </form>
            </div>

            <div style="margin-top:50px">
                <div style="font-size:small">
                    This page:
                </div>
                <div class="well well-sm pull-left center-block">
                    http://myskills.co/users/{{username}}
                </div>
                <div class="pull-left">
                    <button class="addthis_button btn-link" style="margin:5px">
                        Share
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
    <h3 data-ng-hide="!scores || scores.length">No scores</h3>
</section>