<section data-ng-controller="skillsController" data-ng-init="find()">
    <input type="text" ng-model="search" placeholder="Search">
    <ul class="list-unstyled">
        <li data-ng-repeat="skill in skills | filter:search">
            <span><a data-ng-href="#!/skills/{{skill._id}}">{{skill.name}}</a></span>
        </li>
    </ul>
    <form role="form" data-ng-submit="create()">
        <input type="text" data-ng-model="name" id="name" placeholder="Add Skill" required>
    </form>
</section>
<h3 data-ng-hide="!skills || skills.length">No skills</h3>
</section>