extends layouts/default
block content
    h1 form
        form(method='post', action ='/api/votes')
            label Voter:
                input(name='_voter', value='52df86707ef0a18411f0a841', type='text')
            br
            label Receiver:
                input(name='_receiver', value='52df86707ef0a18411f0a841', type='text')
            br
            label Skill:
                input(name='_skill', value='52de8206dbd7b9c807a07b5a', type='text')
            br
            label Score:
                input(name='score', value='4', type='text')
            br
            input(type='submit')