doctype html
html(lang='en')
    include ../includes/header
    body
        .navbar.navbar-inverse.navbar-static-top(style='height:45px; margin-bottom:-45px;', data-ng-include="'views/header.html'", data-role="navigation")
        section.container.main_container(style='padding-top:60px; padding-bottom:60px')
            block content
        include ../includes/footer